**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/packages
**/*.user
**/*.suo
**/logs
**/.DS_Store
**/Thumbs.db
docker-compose*.yml
.dockerignore
.gitignore
.env*
*.md
!README.md
**/TestResults
